<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--Displaying value-->
<h2>Welcome New Student</h2>
<h2 th:text="${students.get(0).getFirstname()}"></h2>
<h2 th:text="${students.get(0).getLastname()}"></h2>

<!--Concatenation-->

<h2 th:text="${'Welcome'+students.get(0).getFirstname()}"></h2>

<!--Links-->
<a th:href="@{https://google.com}"> -Google- </a><br>

<a th:href="@{/student/welcome}"> -welcome- </a><br>

<!--Adding parameters to the link-->
<a th:href="@{/student/welcome(id=3)}">LINK</a>

<a th:href="@{/student/welcome(id=${students.get(0).firstname})}">LINK2</a>

<!--iteration-->

<ul>
  <li th:each=" student : ${students}" th:text="${student.firstname}"></li>
</ul>

<!--Conditional Logic:-->
<div th:text="${students.get(0).age > 25 ? 'ELIGIBLE' : 'NOT ELIGIBLE'}"></div>

<div>
  <span th:if="${students.get(0).getState() == 'Arizona'}">Arizona</span>
  <span th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>
</div>






</body>
</html>